@tile-bg:           #FFF;
@divider:           #CBCDE8;
@icon-border:       @brand-primary;

@tile-width:        180px;
@tile-width-full:   320px;
@tile-height:       310px;

.image-tile {
  background: @tile-bg;
  display: inline-block;
  position: relative;
  width: @tile-width;
  height: @tile-height;
  border-radius: 3px;
}

.image-content {
  position: absolute;
  left: 0;
  top: -1px;
  // background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 110px;
}

.image-description-1 {
  position: absolute;
  right: 0;
  top: 6.5em;
  text-align: center;
  color: gray;
  width: 100%%;
  font-size: 1.3em;
}

.image-description-2 {
  position: relative;
  text-align: center;
  color: gray;
  font-size: .7em;
}

.actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: @tile-width;
}

.actions a {
  cursor: pointer;
  margin-left: 0.6em;
  text-decoration: none;
}

.actions ul {
  margin: 0;
  padding: 0;
}

.actions li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2.3em;
  vertical-align: middle;
}

.actions li {
  border-top: 1px solid @divider;
}

.actions span {
  padding: 5px 5px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px @icon-border;
  -webkit-box-shadow: 0px 0px 2px @icon-border;
  box-shadow: 0px 0px 2px @icon-border;
}

@media (max-width: 481px) {

  .image-tile {
    width: @tile-width-full;
  }

  .image-content {
    background-repeat: no-repeat;
  }

  .actions {
    width: @tile-width-full;
  }
}