.front-side-item {
  width: @tile-width;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.back-side-item {
  width: @tile-width;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.back-side {
  .back-side-item {
    //opacity: 1;
    visibility: visible;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease 0.5s, visibility 0s linear;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease 0.5s, visibility 0s linear;
    -o-transition: opacity 0.5s ease, transform 0.5s ease 0.5s, visibility 0s linear;
    transition: opacity 0.5s ease, transform 0.5s ease 0.5s, visibility 0s linear;
  }
  .front-side-item {
    //opacity: 0;
    visibility: collapse;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
    -o-transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s linear 0.5s;
  }
}

.front-side {
  .back-side-item {
    //opacity: 0;
    visibility: collapse;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s ease 0.5s;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s ease 0.5s;
    -o-transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s ease 0.5s;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s ease 0.5s;
  }

  .front-side-item {
    //opacity: 1;
    visibility: visible;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease 0.5s, visibility 0s ease;
    -moz-transition: opacity 0.5s ease, transform 0.5s ease 0.5s, visibility 0s ease;
    -o-transition: opacity 0.5s ease, transform 0.5s ease 0.5s, visibility 0s ease;
    transition: opacity 0.5s ease, transform 0.5s ease 0.5s, visibility 0s ease;
  }
}


.image-tile {
  background: @tile-bg;
  display: inline-block;
  position: relative;
  width: @tile-width;
  height: @tile-height;
  border-radius: 3px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;

  .image-content {
    position: absolute;
    left: auto;
    top: -1px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: @mini-image-height;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition:width 0.25s ease, height 0.25s ease;
    transition:width 0.25s ease, height 0.25s ease;
  }


  .image-description-1 {
    position: absolute;
    top: 8em;
    text-align: center;
    color: @stefan-font-color;
    width: 100%;
    font-size: 1.2em;
  }

  .image-description-2 {
    position: relative;
    text-align: center;
    color: @stefan-font-color;
    font-size: .7em;
  }

  .image-description-3 {
    //position: relative;
    line-height: 1.2em;
    text-align: center;
    color: @stefan-font-color;
    font-size: 1.1em;
  }

  .actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: @tile-width;
  }

  .actions a {
    cursor: pointer;
    margin-left: 0.6em;
    text-decoration: none;
  }

  .actions ul {
    margin: 0;
    padding: 0;
  }

  .actions li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 2.3em;
    vertical-align: middle;
  }

  .actions li {
    border-top: 1px solid @divider;
  }

  .actions span {
    padding: 5px 5px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0 0 2px @icon-border;
    -webkit-box-shadow: 0 0 2px @icon-border;
    box-shadow: 0 0 2px @icon-border;
  }

}



@media (max-width: 481px) {

  .image-tile {
    width: @tile-width-full;
  }

  .image-content {
    background-repeat: no-repeat;
  }

  .actions {
    width: @tile-width-full;
  }
}
