@about-margin:   180px;

.landing {

  margin-left: @about-margin;
  margin-right: @about-margin;

  .btn {
    border-radius: 0;
  }

  .jumbotron {
    color: #FEFEFE;
    background-image: url("../images/about-back-fish.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .lead {
      font-size: 22px;
    }

    .btn {
      width: 30%;
    }
  }

  .btn {
    color: #fff;
    width: 40%;
  }

  .supporting-material {

    color: #E4F1FE;

    h2 {
      color: #FEFEFE;
    }

    p {
      font-size: 16px;
    }

  }

}
