@appColor:         #5A5D80;

.max-network-level {

  .app-name {
    font-weight: bold;
    color: darken(@appColor, 5%);
  }

  .search-term {
    font-weight: bold;
    font-variant: small-caps;
    text-transform: uppercase
  }

  /* Bug in bootstrap css? Shouldn't have to specify this but otherwise text is blue on blue button */
  .btn.btn-primary {
    color: #fff;
  }

}
