@dock-bg:     #484444;
@dock-font:   #fff;
.network {

  .breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
  }

  li {
    list-style: none;
  }

  .info-dock {
    background: @dock-bg;
    color: @dock-font;

    /* .interaction-row {
      float: left;
      display: inline-block;
    } */
  }

}
