svg {
  background: white;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
