.network {

  .breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
  }

  li {
    list-style: none;
  }

  .info-dock {

    background: @dock-bg;
    color: @dock-font;
    padding: 1em;

    .loading-spiner-holder {
      position: absolute;
      top: 5px;
      right: 35px;
    }

    .instructions {
      color: @dock-font-inverse;
      position: relative;

      /* Must be absolutely positioned, otherwise help panel jumps around on collapse */
      .help-icon {
        position: absolute;
        top: 1px;
        right: 10px;
      }

      .glyphicon {
        color: @dock-font;
        font-size: 1.5em;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }

      .panel-default .panel-heading {
        color: @dock-font-inverse;
      }

      .btn {
        width: 100%;
      }
    }
  }

}
