@edge:         #999;
@edge-back:    #6f6f6f;
@svg-bg:       white;

svg {

  background: @svg-bg;

  .legend-text {
    &:hover {
      cursor: pointer;
    }
  }

  .node {
    stroke: #fff;
    stroke-width: 1.5px;

    &:hover {
      cursor: pointer
    }

  }

  .node text {
    font-weight: 100;
    font-size: 14px;

    &:hover {
      cursor: default
    }

  }

  .link {
    stroke: @edge;
    stroke-opacity: .3;

    &:hover {
      cursor: pointer
    }

  }

  .linkback {
    stroke: @edge-back;
    stroke-opacity: .3;
  }

  .link-legend {
    stroke: @edge;
    stroke-opacity: .5;
  }

  .linkback-legend {
    stroke: @edge-back;
    stroke-opacity: .5;
  }

  marker#arrow {
    fill: @edge;
    opacity: .5;
  }

}
