.form-control {
  display: inline;
  width: 75%;
}

.btn {
  width: 20%;
  color: #337ab7;
}

.main {

  li {
    list-style: none;
  }

  .info-dock {
    background: @dock-bg;
    color: @dock-font;
    padding: 1em;

  }
}

.search-results {

  .image-grid {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      margin-right: 0.8em;
      margin-bottom: 0.5em;
    }

  }
  
}
