.image-grid {
  padding: 0;
  margin: 0;
}

.image-grid li {
  list-style-type: none;
  margin-right: 5px;
}

// .search-results {
//   margin-top: 1em;
// }

// .search-results li {
//   list-style-type: none;
//   margin-left: 1em;
// }

// .search-results .taxon-source {
//   margin-left: -1em;
// }