<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;About <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="https://github.com/danielabar/globi-proto/releases/tag/v0.0.11" target="_blank"><span class="glyphicon glyphicon-tag"></span>&nbsp;Release v0.0.11</a></li>
    <li class="divider"></li>
    <li><a href="https://github.com/danielabar/globi-proto" target="_blank"><span class="glyphicon glyphicon-heart"></span>&nbsp;Contribute to project</a></li>
    <li><a href="https://github.com/danielabar/globi-proto/issues" target="_blank"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>&nbsp;Report an issue</a></li>
  </ul>
</li>
