<li class="image-tile">

  <div class="image-content" style="background-image: url({{imageData.thumbnailURL}});"></div>
  <div class="image-description-1">{{imageData.scientificName}}
    <div class="image-description-2">{{imageData.commonName}}</div>
  </div>

  <div class="actions">
    <ul>
      <li><a ng-click="follow(imageData, 'eats')"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span>&nbsp;Eats</a></li>
      <li><a ng-click="follow(imageData, 'eatenBy')"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;Eaten by</a></li>
      <li><a ng-href="{{imageData.infoURL}}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;Site</a></li>
      <li><a ng-click="map(imageData)"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;Map</a></li>
      <li><a ng-click="network(imageData)"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>&nbsp;Network</a></li>
    </ul>
  </div>

</li>
