<div class="labs">

  <div class="row">
    <div class="col-xs-6">

      <div class="lab-intro">
        <h2>Welcome to the GloBI Labs Page</h2>
        <p>
          In the words of the former Google Labs, this is a playground where our more adventurous users
          can play around with prototypes of some of our wild and crazy ideas and offer
          <a href="https://github.com/ritec/globi/issues">feedback directly to the engineers</a> who developed them.
          Enjoy!
        </p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col xs-10 horizontal-center">
      <iframe src="http://ritec.github.io/globi/" width="80%" height="1200" frameborder="0"></iframe>
    </div>
  </div>
</div>
