<div class="about">

  <!-- Call to Action -->
  <div class="jumbotron horizontal-center">
    <h1 class="text-center">Welcome to Globi Explorer</h1>
    <p class="lead">
      Understanding interactions between multiple organisms in an ecosystem is at the core of studies in ecology and biology in general.
      Globi Explorer is an interactive tool to visually explore species interactions and food webs.
      The data comes from Global Biotic Interactions, which provides access to species association data through
      aggregation of various biotic interaction.
    </p>
    <p class="text-center">
      <a class="btn btn-lg btn-info" ui-sref="main" role="button">Start Exploring</a>
    </p>
  </div>

  <!-- Supporting Material -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Global Biotic Interactions</h2>
      <p>
        The infrastructure and service provided by Global Biotic Interactions aims to aid biologists to focus on gathering new interaction data.
        By providing easy access to biotic interaction data, the project provides an educational resource to better understand
        and better preserve our ecosystems.
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Globi API</h2>
      <p>
        The data utilized in this project is based on the Global Biotic Interactions (GloBI) API,
        designed to provide access to interaction data for the purpose of integrating the data into wikis,
        custom webpages or other interaction exploration tools. GloBI is funded by EOL's Rubenstein Fellowship Program.
      </p>
   </div>
    <div class="col-lg-4">
      <h2>IVMOOC InfoVis</h2>
      <p>
        The Information Visualization MOOC is part of Indiana University's Online Data Science Program and
        provides an overview about the state of the art in information visualization.
        It teaches the process of producing effective visualizations that take the needs of users into account.
      </p>
    </div>
  </div>

  <!-- Learn More -->
  <div class="row">
    <div class="col-lg-4">
      <p><a class="btn btn-primary" href="http://www.globalbioticinteractions.org/about.html" target="_blank" role="button">Learn more »</a></p>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-primary" href="https://github.com/jhpoelen/eol-globi-data/wiki/API" role="button">Learn more »</a>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-primary" href="http://ivmooc.cns.iu.edu/" target="_blank" role="button">Learn more »</a>
    </div>
  </div>
</div>
