<div class="main">
  <div class="row">

    <!-- Info Dock -->
    <div class="col-xs-4">
      <div class="info-dock">

        <!-- Dock Header -->
        <div class="row">
          <div class="col-xs-12 horizontal-center">
            <form class="form">
              <div class="form-group">
                <!--<h3 class="text-center"><label for="speciesName">Explore Interactions of...</label></h3>-->
                <h3 class="text-center">{{query.interaction | uppercase }} Exploration of</h3>
                <input id="speciesName" name="speciesName" type="text"
                       ng-model="query.name" class="form-control"
                       placeholder="Animal (eg: tuna)"
                       typeahead="taxonSelection as taxonSelection.scientificName for taxonSelection in getResults($viewValue)"
                       typeahead-template-url="views/taxonSelection.html"
                       typeahead-wait-ms="100"
                       typeahead-editable="false"
                       typeahead-loading="loadingLocations"
                       typeahead-on-select="taxonSelected($item, $model, $label)">
                <button ng-click="clear()" class="btn btn-default">Clear</button>
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
              </div>
            </form>
            <div class="taxon-source-centered">
              <div class="taxon-source-parent">
                <div ng-show="taxon.scientificName" data-image-tile="taxon" class="taxon-source animate-show"></div>
                <button ng-show="searchResults.length" ng-click="network()" class="btn btn-network animate-show">
                  <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>&nbsp;Show Network&nbsp;
                  <i class="glyphicon glyphicon-chevron-right"></i></button>
                <div ng-show="taxon.scientificName && searchResults.length === 0">
                  <i class="glyphicon glyphicon-info-sign animate-show animate-hide" aria-hidden="true"></i>
                  &nbsp;Click "Eats" or "More Interactions" to get started
                </div>
              </div>
            </div>
          </div>
        </div>



      </div><!--//Info Dock-->
    </div><!--//Info Dock col-xs-3-->


    <!-- Cards Visualization -->
    <div class="col-xs-8 graph-vis">

      <div class="search-results">
        <div class="row">
          <div class="col-xs-12">
            <ul class="image-grid">
              <li ng-repeat="sr in searchResults" data-image-tile="sr" class="animate-repeat"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--//row-->
</div><!--//main-->
