<div class="row">
  <div class="col-xs-12">
    <form class="form-inline">

      <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text"
          ng-model="query.name" class="form-control"
          placeholder="Animal (eg: tuna)"
          typeahead="address for address in getResults($viewValue)"
          typeahead-wait-ms="100"
          typeahead-editable="false"
          typeahead-loading="loadingLocations"
          typeahead-on-select="taxonSelected($item, $model, $label)">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail2">Interaction</label>
        <select class="form-control input-sm"
          ng-model="query.interaction"
          ng-options="i.name as (i.name + ' (' + i.source +  '->' + i.target + ')') for i in interactions">
        </select>
      </div>
      <button ng-click="search()" type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div data-image-tile="taxon"></div>
  </div>
</div>
