<div class="header">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="landing">Globi</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li data-ng-class="{'active':state==='main'}"><a ui-sref="main"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Explore</a></li>
          <li data-ng-class="{'active':state==='labs'}"><a ui-sref="labs"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;&nbsp;Labs</a></li>
          <li data-about-menu=""></li>
        </ul>
      </div>
    </div>
  </div>
</div>