<div class="network">
  <div class="row">

    <!-- Info Dock -->
    <div class="col-xs-3">
      <div class="info-dock">

        <!-- Dock Header -->
        <div class="row">
          <div class="col-xs-12">
            <h3 class="text-center">{{query.interactionType | uppercase }} Network of</h3>
            <div data-image-tile="subjectTaxon"></div>
          </div>
        </div>

        <!-- Dock Sub Header -->
        <div class="info-dock-interaction-details" ng-show="interactionDetails.show">
          <h4 class="text-center">Details of selected interaction</h4>
          <div class="row">
            <div class="col-xs-5">
              <div data-image-tile="interactionDetails.sourceTaxonData"></div>
            </div>
            <div class="col-xs-1">
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </div>
            <div class="col-xs-5">
              <div data-image-tile="interactionDetails.targetTaxonData"></div>
            </div>
          </div>
        </div><!--//Dock Sub Header-->

      </div><!--//Info Dock-->
    </div><!--//Info Dock col-xs-3-->

    <!-- Column Graph Visualization -->
    <div class="col-xs-7 graph-vis">
      <ol class="breadcrumb">
        <li ng-repeat="crumb in breadcrumbs" style="color: {{crumb.circleColor}}">{{crumb.name}}</li>
      </ol>
      <column-network-vis val="columnGraph"></column-network-vis>
    </div>

    <!-- Legend -->
    <div class="col-xs-2">
      <h3>Legend</h3>
      <p>The legend will go here</p>
    </div>


  </div><!--//row-->
</div><!--//network-->
